
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <table class ="table table-bordered">
    <thead>
      

    
      
      <th>Enter vehiclenumber</th>
      <th> Employeeid</th>
      <th>Entername</th>
      <th>Enterphoneno</th>
      <th>Enter email</th>
      <th>Enter password</th>

      <tr *ngFor="let i of empdata">
        <td>{{i.vehiclenumber}}</td>
        <td>{{i.empid}}</td>
        <td>{{i.ename}}</td>
        <td>{{i.empphone}}</td>
        <td>{{i.empemail}}</td>
        <td>{{i.emppassword}}</td>
      </tr>
      
      
    </thead>

        </table>


  